@import url('https://fonts.googleapis.com/css2?family=Lora&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora&family=Open+Sans:wght@300&display=swap');

//Fonts
$lora: 'Lora', serif;
$OpenSans: 'Open Sans', sans-serif;

//Bootstrap variable overrides
$info: #00ADB5;
$dark: #222831;
$secondary: #393E46;
$light: #EEEEEE;
$navbar-dark-hover-color: $info;

//Bootstrap scss import



body {
    font-family: $OpenSans;
    font-weight: normal;
}

#cards {
    font-family: $lora;
    font-weight: normal;
}

#article {
    font-family: $lora;
    font-weight: normal;
}